*.swp
README~
.gitignore~
*.out
*.exe
*.tlog
*.obj
*.pdb
*.idb
*.sdf
*.ilk
*.log
*.lastbuildstate
#*.sln
*.suo
#*.vcxproj
#*.filters
*.user
*.png
*.ppm
*.psess
*.vsp
dependency/assimp
#build
#resources
